<table class="table table-striped" id="assigments">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Group</th>
      <th>Due Date</th>
    </tr>
<% i=0 %>
  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= link_to assignment.name , assignment %></td>
        <td><%= link_to assignment.group.name, assignment.group %></td>
        <td><%= assignment_date assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) if !check_timeout?(assignment) %>|
        <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>