
<% provide :title, @assignment.name %>
<div class="row">
  <h1 class="center"><%= @assignment.name %></h1>
  <div class="col-md-3">
  <% unless check_timeout?(@assignment) %>
    <%= link_to 'Edit', edit_assignment_path(@assignment),class: "btn btn-default" %> 
  <% end %>
	<%= link_to 'Back', assignments_path, class: "btn btn-default"  %>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1"> 
  	<%= render 'info'%>
  </div>
	
  <div class="col-md-6 col-md-offset-1">
	<%= render 'members'%>
>>>>>>> fix interface
</div>