<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table class="table table-bordered">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>   
      </tr>
      <div id="members">
          <%= f.fields_for :members do |member_form| %>
            <%= render "member_form", f: member_form  %>
          <% end %>
      </div>

      <div class="option-answers row">
        <button class="add_member btn btn-primary btn-sm" name="members">
          <%= t "groups.member" %>
        </button>
      </div>

      <%= f.submit %>
    </table>
    <%= add_fields_member f, :members %>
  </div>
<% end %>
